{% extends 'base.html.twig' %}

{% block title %}La Liste de restaurants{% endblock %}

{% block body %}
<div class="container"><!--Categorie 1 Moyen Orient-->
  <div class="img-mo"><img src="images/imgRestaurants/01-Le_Serail.jpg" alt="restaurant Le Serail"></div>
  <div class="img-mo"><img src="images/imgRestaurants/12-Mardin Çorba salonu.png" alt="Restaurant Mardin Çorba salonu"></div>
  <div class="img-mo"><img src="images/imgRestaurants/19-Au-Vieux-Cèdre.jpg" alt="Restaurant Au Vieux Cèdre"></div>
  <div class="img-mo"><img src="images/imgRestaurants/26-Ehden.jpg" alt="Restaurant Ehden"></div>
</div>

<div class="container"><!--Categorie 2 Asiatique-->
  <div class="img-as"><img src="imagesimgRestaurants/02-Gourmet_Tsingtao.jpg" alt="Restaurant Gourmet Tsingtao"></div>
  <div class="img-as"><img src="images/imgRestaurants/07-Hutong.jpg" alt="Restaurant Hutong"></div>
  <div class="img-as"><img src="images/imgRestaurants/30-Raviolis-Nord-Est.jpg" alt="Restaurant Raviolis Nord-Est"></div>
  <div class="img-as"><img src="images/imgRestaurants/15-Le-Cambodge.jpg" alt="Restaurant Le Cambodge"></div>
  <div class="img-as"><img src="images/imgRestaurants/16-Kathmandu.jpg" alt="Restaurant Kathmandu"></div>
  <div class="img-as"><img src="images/imgRestaurants/17-Mountain.jpg" alt="Restaurant Mountain"></div>
  <div class="img-as"><img src="images/imgRestaurants/21-Bonjour-Vietnam.jpg" alt="Restaurant Bonjour Vietnam"></div>
  <div class="img-as"><img src="images/imgRestaurants/23-Bamboo-Sum.jpg" alt="Restaurant Bamboo Sum"></div>
  <div class="img-as"><img src="images/imgRestaurants/25-Kim-Phuc.jpg" alt="Restaurant Kim Phuc"></div>
  <div class="img-as"><img src="images/imgRestaurants/27-Kunga-Yak.jpg" alt="Restaurant Kunga Yak"></div>
  <div class="img-as"><img src="images/imgRestaurants/28-pho-14.jpg" alt="Restaurant Pho 14"></div>
</div>

<div class="container"><!--Categorie 3 Amerique Latine-->
  <div class="img-am"><img src="images/imgRestaurants/03-el-cartel-del-taco.jpg" alt="Restaurant El Cartel del Taco"></div>
  <div class="img-am"><img src="images/imgRestaurants/04-el-juanchito.jpg" alt="Restaurant El Juanchito"></div>
  <div class="img-am"><img src="images/imgRestaurants/05-Sabor-peruano-paris.jpg" alt="Restaurant Sabor peruano"></div>
  <div class="img-am"><img src="images/imgRestaurants/08-La-Bahianaise.jpg" alt="Restaurant La Bahianaise"></div>
  <div class="img-am"><img src="images/imgRestaurants/11-Bululu Arepera.jpg" alt="Restaurant Bululu Arepera"></div>
  <div class="img-am"><img src="images/imgRestaurants/14-Mi-Ranchito-Paisa copy.jpg" alt="Restaurant Mi Ranchito Paisa"></div>
  <div class="img-am"><img src="images/imgRestaurants/29-Cevicheria-Bon-Bon.jpg" alt="Restaurant Cevicheria Bon Bon"></div>
</div>

<div class="container"><!--Categorie 4 Europe-->
  <div class="img-eu"><img src="images/imgRestaurants/06-Le-Lagoa.jpg" alt="Restaurant Le Lagoa"></div>
  <div class="img-eu"><img src="images/imgRestaurants/09-Pastelaria_belem.jpg" alt="Restaurant Pastelaria belem"></div>
  <div class="img-eu"><img src="images/imgRestaurants/19-Mazurka.jpg" alt="Restaurant Mazurka"></div>
</div>

<div class="container"><!--Categorie 5 Creole-->
  <div class="img-cr"><img src="images/imgRestaurants/22-specialites_antillaise.jpg" alt="Restaurant Specialites Antillaises"></div>
  <div class="img-cr"><img src="images/imgRestaurants/24-Bon-Mange-Creole.jpg" alt="Restaurant Bon Mange Créole"></div>
</div>

<div class="container"><!--Categorie 6 Cuisines du Monde-->
  <div class="img-cdm"><img src="images/imgRestaurants/10-Colchide.jpg" alt="Restaurant Colchide"></div>
  <div class="img-cdm"><img src="images/imgRestaurants/20-Le-Khelkomjpg" alt="Restaurant Le Khelkom"></div>
  <div class="img-cdm"><img src="images/imgRestaurants/13-Mam’ayoka.jpg" alt="Restaurant Mam’ayoka"></div>
</div>
{% endblock %}
