{% extends 'base.html.twig' %}

{% block title %}La Liste de restaurants{% endblock %}

{% block body %}
<div class="container"><!--Categorie 1 Moyen Orient-->
  <div class="img-mo"><img src="images/imgRestaurants/01-Le_Serail.jpg" alt=""></div>
  <div class="img-mo"><img src="images/categories2/asiatique2.jpg" alt=""></div>
  <div class="img-mo"><img src="images/categories2/ameriquelatine2.jpg" alt=""></div>
  <div class="img-mo"><img src="images/categories2/europeene.jpg" alt=""></div>
</div>

<div class="container"><!--Categorie 2 Asiatique-->
  <div class="img-as"><img src="images/categories2/Food-In-Lebanon.jpg" alt=""></div>
  <div class="img-as"><img src="images/categories2/asiatique2.jpg" alt=""></div>
  <div class="img-as"><img src="images/categories2/ameriquelatine2.jpg" alt=""></div>
  <div class="img-as"><img src="images/categories2/europeene.jpg" alt=""></div>
  <div class="img-as"><img src="images/categories2/Food-In-Lebanon.jpg" alt=""></div>
  <div class="img-as"><img src="images/categories2/asiatique2.jpg" alt=""></div>
  <div class="img-as"><img src="images/categories2/ameriquelatine2.jpg" alt=""></div>
  <div class="img-as"><img src="images/categories2/europeene.jpg" alt=""></div>
  <div class="img-as"><img src="images/categories2/Food-In-Lebanon.jpg" alt=""></div>
  <div class="img-as"><img src="images/categories2/asiatique2.jpg" alt=""></div>
  <div class="img-as"><img src="images/categories2/ameriquelatine2.jpg" alt=""></div>
</div>

<div class="container"><!--Categorie 3 Amerique Latine-->
  <div class="img-am"><img src="images/categories2/Food-In-Lebanon.jpg" alt=""></div>
  <div class="img-am"><img src="images/categories2/asiatique2.jpg" alt=""></div>
  <div class="img-am"><img src="images/categories2/ameriquelatine2.jpg" alt=""></div>
  <div class="img-am"><img src="images/categories2/europeene.jpg" alt=""></div>
  <div class="img-am"><img src="images/categories2/Food-In-Lebanon.jpg" alt=""></div>
  <div class="img-am"><img src="images/categories2/asiatique2.jpg" alt=""></div>
  <div class="img-am"><img src="images/categories2/ameriquelatine2.jpg" alt=""></div>
</div>

<div class="container"><!--Categorie 4 Europe-->
  <div class="img-eu"><img src="images/categories2/Food-In-Lebanon.jpg" alt=""></div>
  <div class="img-eu"><img src="images/categories2/asiatique2.jpg" alt=""></div>
  <div class="img-eu"><img src="images/categories2/ameriquelatine2.jpg" alt=""></div>
</div>

<div class="container"><!--Categorie 5 Creole-->
  <div class="img-cr"><img src="images/categories2/Food-In-Lebanon.jpg" alt=""></div>
  <div class="img-cr"><img src="images/categories2/asiatique2.jpg" alt=""></div>
</div>

<div class="container"><!--Categorie 6 Cuisines du Monde-->
  <div class="img-cdm"><img src="images/categories2/Food-In-Lebanon.jpg" alt=""></div>
  <div class="img-cdm"><img src="images/categories2/asiatique2.jpg" alt=""></div>
  <div class="img-cdm"><img src="images/categories2/ameriquelatine2.jpg" alt=""></div>
</div>
{% endblock %}
