body
{
  margin: 0;
  padding: 0;
  background-color: #eae7dc;
  color: #666666;
  font-family: 'Fira Sans', sans-serif;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none;}

a{color: #8d8e8a;}

a:hover{
  color: #fff !important;
   background: #d8c3a5 !important;
   border: 4px solid #d8c3a5 !important;
}

.blanc{
  text-decoration: none;
  color: white;
}
/*==============================HEADER======================================*/
.menu{
  height: 40px;
   width: 15%;
   color: #8d8e8a;
   background-color: #d8c3a5;
   border: 4px solid #d8c3a5;
   border-radius: 2px;
   /*font-weight: bold;*/
   font-size: 20px;
   font-family: 'Lora', serif;
}
/*==============================BODY======================================*/

.titreProjet{
 color: #8d8e8a;
}

.description{
   color: #8d8e8a;
}

.entrez, .envoyer{
   height: 40px;
   width: 10%;
   color: #8d8e8a;
   background-color: #d8c3a5;
   border: 4px solid #d8c3a5;
   border-radius: 2px;
   font-weight: bold;
   font-size: 20px;
   font-family: 'Fira Sans', sans-serif;
   
}

.entrez:hover, .envoyer:hover{
   color: #fff !important;
   background: #d8c3a5 !important;
   border: 4px solid #d8c3a5 !important;
}

.formulaire-total{
 width: 80%;
}
.formulaire{
 display: block;
 margin-left: 350px ;
 height: 35px;
 width: 70%;
 padding: 0px 6px;
 color: #8d8e8a;
}

p.formulaire{
 font-size: xx-large;
 color: #8d8e8a;
}

.suggestion{
 font-size: xx-large;
 color: #8d8e8a;
 margin-left: 350px;
}

.msg-av-pr{
 margin-left: 350px;
}


/*============CATEGORIES=========================*/

.par_cat{
  display: flex;
  justify-content: center;
}

/*------------------------------FICHE RESTAURANT-------------------------*/
.paddingBottom{
  margin-bottom: 20px;
}

/*========================FOOTER=============================================*/
footer{
 padding:40px 0;
 color:#8d8e8a;
 text-align: center;
}

footer ul {
 padding:0;
 list-style:none;
 text-align:center;
 font-size:15px;
 line-height:1.6;
 margin-bottom:0;
}

footer li {
 padding:0 10px;
}

footer ul a {
 color:inherit;
 text-decoration:none;
 opacity:0.8;
}

.social{
 text-align:center;
 padding-bottom: 25px;
}
.social > a {
 font-size:24px;
 width:40px;
 height:40px;
 line-height:40px;
 display:inline-block;
 text-align:center;
 border-radius:50%;
 border:1px solid #ccc;
 margin:0 8px;
 color:inherit;
 opacity:0.75;
}

footer .social > a:hover {
 opacity:0.9;
}
.copyright{
 margin-top:15px;
 text-align:center;
 font-size:13px;
 color:#aaa;
 margin-bottom:0;
}
