{% extends 'base.html.twig' %}

{% block title %}Modifier Restaurant{% endblock %}

{% block body %}

    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h1>Modifier le Restaurant</h1>

                 <div class="col">{{ include('admin/form.html.twig') }}</div>
                     {{ include('restaurant/_delete_form.html.twig') }}
                <a href="{{ path('restaurant_index') }}">Retour à la liste</a>
            </div>
        </div>
    </div>

{% endblock %}
