{% extends 'base.html.twig' %}

{% block title %}Modifier Restaurant{% endblock %}

{% block body %}
    <h1>Modifier Restaurant</h1>

    {{ include('restaurant/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('restaurant_index') }}">Retour à la liste</a>

    {{ include('restaurant/_delete_form.html.twig') }}
{% endblock %}
