{% extends 'base.html.twig' %}

{% block title %}New Restaurant{% endblock %}

{% block body %}

    <div class="container par_cat">
        <div class="row align-items-center">
            <div class="col">
                <h1>Create new Restaurant</h1>

                 <div class="col">{{ include('restaurant/_form.html.twig') }}</div>
                <a href="{{ path('restaurant_index') }}">back to list</a>
            </div>
        </div>
    </div>

{% endblock %}
