{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}
{% block meta_desc %}Mentions légales du site OAAF, site de réferencement de restaurants à Paris{% endblock %}


{% block body %}
    
    <div class="container">
        <div class="row"><div class="col text-center pb-5 pt-5"><h2>Mentions légales</h2></div></div>
        <div class="row"><div class="col text-justify pb-5 pt-5"><h4>Bienvenue sur notre site web oaaf.fr.<br><br>Les présentes Conditions d’Utilisation ainsi que la Déclaration relative à la confidentialité et aux cookies forment votre contrat avec Oaaf (si vous êtes propriétaire d’un restaurant acceptant les réservations par le biais du Site Oaaf, ces dispositions s’appliquent également à vous en plus des conditions générales et particulières de vente que vous avez acceptées lors de votre inscription). Lisez-les attentivement ; ces dispositions vous engagent dès lors que vous utilisez le Site Oaaf.<br><br>Attention : Si vous n'êtes pas en accord avec tout ou partie des présentes Conditions d’Utilisation, il vous est vivement recommandé de ne pas utiliser le Site Oaaf.
</h4></div></div>
    </div>
{% endblock %}