<!--FOOTER-->
<footer>
  <div class="social">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="{{path('home2')}}">Accueil</a></li>
    <li class="list-inline-item"><a href="{{path('cgu')}}">CGU</a></li>
    <a href="mailto:admin@gmail.com">Contactez-nous</a>
  </ul>
  <p class="copyright">OAAF © 2021 Tous droits réservés</p>
</footer>