<!--MENU-->
<div class="dropdown ">
  <button class="btn dropdown-toggle " type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
  <div class="dropdown-menu " aria-labelledby="dropdownMenu2">
    <button class="dropdown-item " type="button"><a href="{{path('home2')}}">Accueil</a>
    </button>
    
    <button class="dropdown-item " type="button">Catégories</button>
    <button class="dropdown-item " type="button">Contactez-nous</button>
    <button class="dropdown-item " type="button">Connexion</button>
     <button class="dropdown-item " type="button">Inscription</button>
     <button class="dropdown-item " type="button">Deconnexion</button>
  </div>
</div>


  <!--TITRE & LOGO-->
  <div class="header overflow-hidden">
    <div class="col text-center pb-3"><h2>OAAF PROJECT</h2></div>
    <div class="row"><div class="col text-center pb-5"><img src="../images/icons/oaafLogo.png" alt="Logo OAAF"></div></div>
  </div>