{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center text-center">
    <h5 class="card-title">{{categorie.cat}}</h5>
    {% for categorie in categorie %}
        <div class="card m-1" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{{categorie.restaurant.nom}}</h5>
            <a href="{{path('restaurant',{id:categorie.restaurant.id})}}" class="card-link">Voir les RESTAURANTS</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
